<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1">Get In Touch</h1>
            <h2>I am always standing by and eager to help.</h2>
        </div>
    </div>
</header>

<div class="contact-information">
    <div class="contact-information-content">
        <h2>Contact</h2>
        <p>
            <span class="fa fa-map-marker"></span>
            Fullerton, CA 92831<br />
        </p>
        <p>
            <span class="fa fa-mobile-phone"></span>
            +1 213-325-6691
        </p>
        <p>
            <span class="fa fa-github"></span>
            <a href="https://github.com/kims07231992/JasonPrivateStudy">Github</a>
        </p>
        <p>
            <span class="fa fa-envelope"></span>
            <a href="mailto:jk07231992@gmail.com">jk07231992@gmail.com</a>
        </p>
    </div>
</div>

<app-footer class="footer"></app-footer>