<div class="jumbotron">
    <h1>Contact</h1>
    <p class="lead">Untitle</p>
</div>
<div class="container body-content">
    <div>
        <p>
            <span class="fa fa-map-marker"></span>
            60, Pangyowon-ro 82beon-gil,<br />
            Bundang-gu, Seongnam-si,<br />
            Gyeonggi-do, Republic of Korea 13540<br />
        </p>
        <p>
            <span class="fa fa-mobile-phone"></span>
            +82 10-7442-1238 | +1 213-325-6691
        </p>
        <p>
            <span class="fa fa-github"></span>
            <a href="https://github.com/kims07231992/JasonPrivateStudy">Github</a>
        </p>
        <p>
            <span class="fa fa-envelope"></span>
            <a href="mailto:kims07231992@gmail.com">kims07231992@gmail.com</a>
        </p>
    </div>
</div>