<h1 mat-dialog-title>{{isAddMode ? 'Create' : 'Edit'}}</h1>

<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="15px">
        <mat-form-field fxFlex="10">
            <input matInput placeholder="Title" [(ngModel)]="article.title">
        </mat-form-field>

        <mat-form-field fxFlex="10">
            <input matInput [matDatepicker]="picker" placeholder="Post Date" [(ngModel)]="article.postDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="10">
            <input matInput placeholder="Category" [(ngModel)]="article.category">
        </mat-form-field>

        <mat-form-field fxFlex="10">
            <mat-select placeholder="Topic" [(ngModel)]="article.topicId" name="topic">
                <mat-option *ngFor="let topic of topics" [value]="topic.topicId">
                    {{topic.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayoutAlign="start center" fxFlex="10">
            <span>Show&nbsp;</span>
            <mat-slide-toggle [(ngModel)]="article.showFlag"></mat-slide-toggle>
        </div>

        <div fxFlex="20">
            <app-picture-uploader *ngIf="article"
                                  [picture]="article.picture"
                                  [pictureMimeType]="article.pictureMimeType"
                                  (uploadedPicture)="savePicture($event)">
            </app-picture-uploader>
        </div>

        <div fxFlex="30">
            <app-editor [content]="article.content"
                        (changedContent)="saveContent($event)">
            </app-editor>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch">
    <button mat-raised-button (click)="submitArticle()">Submit</button>
    <button mat-raised-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>