<div class="container">
    <h2><span>{{title}}</span></h2>
    <hr />
    <div class="card-deck">
        <div *ngFor="let article of articles"
             [class.selected]="article === selectedArticle">
            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src={{article.pictrue}}>
                    <div class="card-block">
                        <figure class="profile">
                            <img src={{article.picture}} class="profile-avatar" alt={{article.userId}}>
                        </figure>
                        <h3 class="card-title">{{article.title}}</h3>
                        <div class="card-category">
                            {{article.category}}
                        </div>
                        <div class="card-content">
                            {{article.contentDisplay}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>{{article.postDate}}</small>
                        <button class="btn btn-secondary btn-xs pull-right"
                                (click)="onSelect(article)">
                            Learn More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="selectedArticle">
    <app-article-popup [article]="selectedArticle"></app-article-popup>
</div>