<div [@popup] *ngIf="article.visible">
    
    <div class="article-popup col-sm-6 col-md-6 col-lg-6 mt-6">
        <div class="card">           
            <div class="card-block">
                <button class="btn btn-default pull-right" 
                        (click)="close()">
                    X
                </button>
                <br />
                <figure class="profile jumbotron">
                    <img src={{article.picture}} class="profile-avatar" alt={{article.userId}}>
                    <div class="profile-info">
                        {{article.userId}}
                        user self-indroduction
                        {{article.postDate}}
                    </div>
                </figure>
                <h3 class="card-title">{{article.title}}</h3>
                <div class="card-category">
                    {{article.category}}
                </div>
                <div class="card-content">
                    {{article.contentDisplay}}
                    {{article.contentDisplay}}
                    {{article.contentDisplay}}
                    {{article.contentDisplay}}
                    {{article.contentDisplay}}
                    {{article.contentDisplay}}
                    {{article.contentDisplay}}
                    {{article.contentDisplay}}
                    {{article.contentDisplay}}
                </div>
            </div>
            <div class="card-footer">
                Tags
            </div>
        </div>
    </div>

    <ng-content></ng-content>
</div>