.article-popup {
    position: fixed;
    right: 0;
    left: 0;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 200px;
    background-color: #fff;
}

.card {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    position: relative;
    padding: 3em;
}

.profile {
    padding: 1em;
}

.profile-avatar {
    width: 100px;
    height: auto;
    border-radius: 50%
}

.card-title {
    font-weight: 700;
}

.card-category {
    color: rgba(0, 0, 0, .4);
}

.card-content {
    clear: both;
    margin-top: 0.5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 2em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
}