@import '~@angular/material/theming';

@import '../topnav/topnav-theme';
@import '../footer/footer-theme';
@import '../home/home-theme';
@import '../about/about-theme';
@import '../contact/contact-theme';
@import '../../../styles/markdown-theme';

// Styles for the app that are based on the current theme.
@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .app-background {
        background: mat-color($background, background);
    }

    .primary-header {
        background: mat-color($primary);

        h1 {
            color: mat-color($primary, default-contrast);
        }
    }

    .footer {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }

    @include nav-bar-theme($theme);
    @include footer-theme($theme);
    @include home-theme($theme);
    @include about-theme($theme);
    @include contact-theme($theme);
}
