@import '~@angular/material/theming';
@import '../../../app-theme';
@import '../../../styles/api';
@import '../../../styles/markdown';
@import '../../../styles/tables';
@import '../../../styles/general';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include app-theme($theme);

app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

app-topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

app > app-component-sidenav {
    flex: 1;
}

app > app-home,
app > app-about,
app > app-contact {
    overflow-y: auto;
}

@media (max-width: 720px) {
    app {
        top: 92px;
    }

    app > app-home,
    app > app-about,
    app > app-contact {
        overflow-y: visible;
    }
}
