@model MyArticles.Models.Account

@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="panel">
        <div class="panel-heading">
            <h3>Log in</h3>
        </div>
        <div class="panel-body">
            <p class="lead">Please sign in to access the administration area:</p>
            @Html.ValidationSummary()
            <div class="form-group">
                <label>User Name:</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Password:</label>
                @Html.PasswordFor(model => model.AccountPassword, new { @class = "form-control" })
            </div>
            <input type="submit" value="Log in" class="btn btn-primary" />
        </div>
    </div>
}

