<div fxLayout="column" fxLayoutAlign="center center">
    <mat-toolbar class="mat-elevation-z6" color="accent">
        <h1>Admin</h1>
    </mat-toolbar>

    <mat-nav-list fxLayout="column">
        <mat-list-item fxFlex>
            <a routerLink="/admin/topic">
                <span>Topic</span>
            </a>
        </mat-list-item>
        <mat-list-item fxFlex>
            <a routerLink="/admin/article">
                <span>Article</span>
            </a>
        </mat-list-item>
        <mat-list-item fxFlex>
            <a routerLink="/admin/announcement">
                <span>Announcement</span>
            </a>
        </mat-list-item>
    </mat-nav-list>
</div>