<div class="header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="articleId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
            <mat-cell *matCellDef="let article"> {{article.articleId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="postDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PostDate </mat-header-cell>
            <mat-cell *matCellDef="let article"> {{article.postDate | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="showFlag">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Show </mat-header-cell>
            <mat-cell *matCellDef="let article">
                <mat-icon>{{article.showFlag ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="picture">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Picture </mat-header-cell>
            <mat-cell *matCellDef="let article">
                <mat-icon>{{article.picture == null ? 'check_box_outline_blank' : 'check_box'}}</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell *matCellDef="let article"> {{article.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="contentDisplay">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Content </mat-header-cell>
            <mat-cell *matCellDef="let article"> {{article.contentDisplay}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="accent" (click)="createArticle()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let article">
                <button mat-icon-button color="primary" (click)="editArticle(article.articleId)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="deleteArticle(article.articleId)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>