@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>Contact</h1>
    <p class="lead">My Articles is a blog type website using ASP.NET MVC 5.</p>
</div>
<div class="container body-content">    
    <div class="col-sm-5">
        <p>
            <span class="glyphicon glyphicon-user"></span>
            Jason Kim
        </p>
        <p>
        <span class="glyphicon glyphicon-map-marker"></span>
            1052 S Westlake Ave<br />
            Los Angeles, CA 90006<br />
        </p>
        <p>
        <span class="glyphicon glyphicon-phone"></span>
            +1 562-888-3173
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:kims07231992@gmail.com">kims07231992@gmail.com</a>
        </p>
    </div>
</div> 
