<nav class="header-top-header">
  <div *ngIf="!isMobile">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
    <div class="flex-spacer"></div>
  </div>

  <div *ngIf="isMobile">
    <button mat-icon-button
            (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home" class="logo-text">
      <span>.NETSurfer</span>
    </a>
  </div>
</nav>
