.feature-backend-spinner-container {
  padding: 10% 50%;
}

.feature-card {
  width: 250px;
  height: 150px;
  margin: 35px 0;
}

.feature-card .mat-card-actions {
  position: absolute;
  top: 150px;
}
