<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1">Get In Touch</h1>
            <h2>I am always standing by and eager to help.</h2>
        </div>
    </div>
</header>

<div class="contact-container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div class="contact-information" fxFlex="50">
      <div class="contact-image">
        <img src="../../../../assets/Images/default/default-user.png"
             alt="default-user">
      </div>
      <div class="contact-profile">
        <div class="profile-name mat-h2">
          Jason Kim
        </div>
        <div class="profile-title mat-h3">
          Junior .NET Developer
        </div>
        <div class="profile-address mat-h5">
          Brea, CA
        </div>
      </div>
    </div>
    <div class="contact-introduction" fxFlex="50">
      <p>
        Hi all! My name is Jason Kim and I am a junior .NET developer in Brea, CA.
        Mainly studying computer science using .NET Framework and currently working on Angular 2+ as well.

        With this blog, I am continously exploring the depths of computer science, sharing my most exiting findings here with you!


      </p>
      <h3 class="mat-h3">
        Objective:  To be a fullstack developer and respected senior developer, always
      </h3>
      <h3 class="mat-h3">
        Favorite Book: Effective C#
      </h3>
      <h3 class="mat-h3">
        Favorite Activity: boardsports such as skateboarding, snowboarding and surfing.
      </h3>
    </div>
  </div>
</div>
