<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1" fxHide.xs>Get In Touch</h1>
      <h2>I am always standing by and eager to help.</h2>
    </div>
  </div>
</header>

<div class="contact-container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div class="contact-information" fxFlex="50">
      <div class="contact-image">
        <img src="/assets/Images/contact/jason_kim.jpg"
             alt="Jason Kim">
      </div>
      <div class="contact-profile">
        <div class="profile-name mat-h1">
          Jason Kim
        </div>
        <div class="profile-title mat-h3">
          Junior .NET Developer
        </div>
        <div class="profile-address mat-h5">
          Brea, CA
        </div>
      </div>
    </div>
    <div class="contact-introduction" fxFlex="50">
      <h2 class="mat-h2">Hi all! My name is Jason Kim and I am a junior .NET developer in Orange County, California Area.</h2>
      <h2 class="mat-h2">For more information about my career, please check my LinkedIn via the link below!</h2>
      <h2 class="mat-h2">Mainly studying computer science using .NET Framework and currently working on Angular 2+ as well.</h2>
      <h2 class="mat-h2">With this blog, I am continously exploring the depths of computer science, sharing my most exiting findings here with you!</h2>
      <div class="contact-introduction-hobbies">
        <h4 class="mat-subheading-1"><b>Objective: </b>To be a fullstack developer and respected senior developer, not to be lazy.</h4>
        <h4 class="mat-subheading-1"><b>Favorite Book: </b>Effective C#</h4>
        <h4 class="mat-subheading-1"><b>Favorite Activity: </b>Boardsports such as skateboarding, snowboarding and surfing.</h4>
      </div>
    </div>
  </div>
</div>
