<mat-sidenav-container>
    <nav class="docs-navbar-header">
        <button mat-button class="docs-navbar-hide-small docs-button" routerLink="/home">Home</button>
        <button mat-button routerLink="/about">About</button>
        <button mat-button routerLink="/contact">Contact</button>
        <div class="flex-spacer"></div>
        <div *ngIf="!userService.getIsSignIn; then guestBlock else adminBlock"></div>
        <ng-template #guestBlock>
            <div>
                <button mat-button routerLink="/signup">Sign Up</button>
                <button mat-button routerLink="/signin">Sign In</button>
            </div>
        </ng-template>
        <ng-template #adminBlock>
            <div>
                <button mat-icon-button
                        matTooltip="User"
                        [matMenuTriggerFor]="userMenu">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item routerLink="#"
                            (click)="signOut()"
                            fxLayout="row"
                            fxLayoutAlign="center center">
                        <mat-icon>input</mat-icon>
                        <span>Sign Out</span>
                    </button>
                </mat-menu>

                <button mat-icon-button (click)="sidenav.toggle()"
                        matTooltip="Admin">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
        </ng-template>
        <mat-sidenav-container class="example-container">
            <mat-sidenav #sidenav
                         mode="side"
                         [fixedInViewport]="true"
                         fixedTopGap="56"
                         align="end">
                <app-sidenav></app-sidenav>     
            </mat-sidenav>
        </mat-sidenav-container>
    </nav>
</mat-sidenav-container>
