.footer {
    /*padding: 12px;*/
    font-size: 12px;
    margin-top: 25px;
}

.footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}

@media screen and (max-width: 884px) {
    .footer-list {
        flex-direction: column;
    }
}
