<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" fxFlex="33">

    <div *ngFor="let article of articles">
        <mat-card class="article-card">
            <mat-card-header>
                <img mat-card-avatar src="data:image/png;base64,{{article.user.picture}}" alt="{{article.user.name}}">
                <mat-card-title>{{article.user.name}}</mat-card-title>
                <mat-card-subtitle>{{article.postDate | date}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="data:image/png;base64,{{article.picture}}" alt="{{article.title}}">
            <mat-card-content>
                <h5>{{article.title}}</h5>
                <p>{{article.contentDisplay}}</p>
            </mat-card-content>

            <mat-card-actions fxLayout="row" fxLayoutAlign="end">
                <button mat-raised-button routerLink="/article/{{article.articleId}}">Learn More</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>

