@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About</h1>
    <p class="lead">My Articles is a web for practicing great Web sites and Web applications using HTML,  CSS and JavaScript.</p>
</div>