<h1 mat-dialog-title>{{isAddMode ? 'Create' : 'Edit'}}</h1>

<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="15px">
        <mat-form-field fxFlex="10">
            <input matInput placeholder="Title" [(ngModel)]="topic.title">
        </mat-form-field>

        <mat-form-field fxFlex="10">
            <input matInput [matDatepicker]="picker" placeholder="Post Date" [(ngModel)]="topic.postDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="10">
            <input matInput placeholder="Description" [(ngModel)]="topic.description">
        </mat-form-field>

        <div fxLayoutAlign="start center" fxFlex="10">
            <span>Show&nbsp;</span>
            <mat-slide-toggle [(ngModel)]="topic.showFlag"></mat-slide-toggle>
        </div>

        <div fxFlex="50">
            <app-picture-uploader *ngIf="topic"
                                  [picture]="topic.picture"
                                  [pictureMimeType]="topic.pictureMimeType"
                                  (uploadedPicture)="savePicture($event)">
            </app-picture-uploader>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch">
    <button mat-raised-button (click)="submitTopic()">Submit</button>
    <button mat-raised-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>