<div class="header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="announcementId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
            <mat-cell *matCellDef="let announcement"> {{announcement.announcementId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="postDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PostDate </mat-header-cell>
            <mat-cell *matCellDef="let announcement"> {{announcement.postDate | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="showFlag">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Show </mat-header-cell>
            <mat-cell *matCellDef="let announcement"> {{announcement.showFlag ? 'T' : 'F'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="content">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Content </mat-header-cell>
            <mat-cell *matCellDef="let announcement"> {{announcement.content}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="accent" (click)="createAnnouncement()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let announcement">
                <button mat-icon-button color="primary" (click)="editAnnouncement(announcement.announcementId)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="deleteAnnouncement(announcement.announcementId)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>