.sidenav-container {
  width: 260px;
  position: fixed;
  padding-top: 56px;

  .sidenav-main {
    margin-left: 10px;
    text-transform: uppercase;
  }

  .sidenav-topic {
    margin-left: 14px;
    text-transform: uppercase;
  }

  .sidenav-article {
    padding-right: 5px;
  }
}
