.sidenav-container {
  width: 60%;
  bottom: 40px;
  position: fixed;
  padding-top: 56px;
}

.sidenav-item {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.sidenav-icon {
  height: 48px;
  width: 36px;
  line-height: 48px;
}
